.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}

.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}

.hero{
    width: 100%;
    height: 100%;
}

.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.hero .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}

.hero .content p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}

.content .btn{
    margin: 1rem 0.2rem;
    border: none;
}

.content .btn-light {
    border: 1px solid #fff;
}

.scroll{
    position: absolute;
    transform: translate(-50%, 0%);
    top: 45vh;
    left: 50%;
}

.scroll-icon{
    position: relative;
    transform: translate(-50%, -20%);
    left: 50%;
    width: 2em;
    height: 3.5em;
    border: .1em solid #fff;
    border-radius: 2em;
}

.scroll-icon .wheel{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 0.5em;
    height: 0.5em;
    background-color: #fff;
    transform: translate(-50%,0);
    border-radius: .6em;
    animation: wheel-dot 1.3s ease-in-out infinite;
}

.content .scroll p{
    position: relative;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: lowercase;
}

@keyframes wheel-dot {
    0%{
        transform: translate(-50%,0);
        opacity: 0;
    }
    20%, 95%{
        opacity: 1;
    }
    95%, 100%{
        transform: translate(-50%, 400%);
        opacity: 0;
    }
}


@media screen and (max-width:640px){
    .hero .content h1{
        font-size: 3rem;
    }
    
    .hero .content p{
        font-size: 1.4rem;
    }
}

@media screen and (max-height:750px){
    .scroll{
        transform: translate(-50%, 0%);
        top: 50vh;
    }
}